body {
    background-color: azure;
    padding: 8px;
    border: 3px solid #D2691E;
    margin: auto;
    border-radius: 5px;
    color: #F0FFFF;
    max-width: 1400px;

    
    display: grid;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100vh auto;
    
    .o-header {
        grid-area: header;
    }
    
    .o-aside {
        grid-area: aside;
    }
    
    .o-main {
        grid-area: main;
    }
    
    .o-footer {
        grid-area: footer;
    }

    .o-header, .o-aside, .o-main, .o-footer {
        background: aquamarine;
        color: blueviolet;
        }
    
}

#title {
    text-align: center;
}

h3 {
    color: #00008B;
    text-align: center;
}


