body {
    background-color: #20B2AA;
    padding: 8px;
    border: 3px solid #D2691E;
    margin: auto;
    border-radius: 5px;
    color: #F0FFFF;
    max-width: 1400px;
}

#title {
    text-align: center;
}

h3 {
    color: #00008B;
    text-align: center;
}


